<section class="sobre-mim section" id="sobre-mim">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Sobre mim</h2>
      </div>
    </div>
    <div class="row">

      <div class="informacoes-sobre-mim">
        <p>
          <strong>Olá! Me chamo <span>Daiane Bolzan</span> e sou uma desenvolvedora full stack!</strong>
        </p>
        <p>
          Gosto MUITO da área de tecnologia, e tenho certeza que posso contribuir em qualquer time com as minhas
          habilidades.
          Atualmente, estou trabalhando como desenvolvedora full stack na <strong>SciTarc</strong> desenvolvendo uma plataforma para facilitar a busca de artigos científicos.
          Também atuo como desenvolvedora em um projeto voluntário da <strong>Loryblu</strong> para desenvolvimento de uma aplicativo para crianças neurodivergentes.
        </p>

        <p>
          Estou sempre me desafiando com novos projetos e participando de comunidades de programação para buscar
          feedback de outros desenvolvedores e desenvolvedoras. Além de tentar ajudar essas pessoas com o que eu já
          aprendi. 😁
        </p>

        <p>
          Ah, gosto também de jogos, filmes, séries, livros, café, pets e jardinagem. 💜📖🌷🐱🐶
        </p>

        <div class="botao">
          <a target="_blank" href="https://docs.google.com/document/d/1BrX3PA2dH9weOm9dd4mUescQnZc5hPr_nF2vGBtpG6I/edit?usp=sharing">Veja meu CV</a>
        </div>
      </div>
    </div>
  </div>
</section>
