<section class="home" id="home">
  <div class="container">
    <div class="row full-screen alinhar-itens-no-centro">
      <div class="texto-home">
        <p>Olá,</p>
        <h1>Sou a <span>Daiane Bolzan</span></h1>
        <h2>Desenvolvedora Full Stack</h2>

        <div class="redes-sociais">
          <a href="https://www.linkedin.com/in/daiane-deponti-bolzan/" class="outer-shadow" target="_blank"><i
              class="fab fa-linkedin-in"></i></a>
          <a href="https://wa.me/+5555999189314" class="outer-shadow" target="_blank"><i
              class="fab fa-whatsapp"></i></a>
          <a href="https://github.com/Daaaiii" class="outer-shadow" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/daaaaaaaiiiii/" class="outer-shadow" target="_blank"><i
              class="fab fa-instagram"></i></a>
        </div>
      </div>

      <div class="img-home">
        <div class="img-box inner-shadow">
          <img class="outer-shadow" src="/assets/perfil.jpg" alt="foto do perfil da Daiane" />
        </div>
      </div>
    </div>
  </div>
</section>
