<section class="projetos section" id="projetos">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Meus projetos</h2>
      </div>
    </div>
    <div class="container-projetos">
      <div *ngFor="let projeto of projetos" class="projeto">
          <img [src]="projeto.imagemUrl" [alt]="projeto.nome" />
          <h3>{{ projeto.nome }}</h3>
          <div class="informacoes-projeto">
            <p>{{ projeto.descricao }}</p>
            <p>{{ projeto.topics }}</p>
            <p>🔗 <a [href]="projeto.urlProjeto" target="_blank">Deploy</a></p>
            <p>🔗 <a [href]="projeto.urlCodigo" target="_blank">Código</a></p>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="section-title">
        <h2>Projetos mais recentes</h2>
      </div>
    </div>
    <div *ngIf="projetosRecentes" class="container-projetos">
      <div *ngFor="let projeto of projetosRecentes" class="projeto">
          <img [src]="projeto.imagemUrl" [alt]="projeto.nome" />
          <h3>{{ projeto.nome }}</h3>
          <div class="informacoes-projeto">
            <p *ngIf="projeto.descricao">{{ projeto.descricao }}</p>
            <p *ngIf="projeto.topics">{{ projeto.topics }}</p>
            <p *ngIf="projeto.urlProjeto">🔗 <a [href]="projeto.urlProjeto" target="_blank">Deploy</a></p>
            <p *ngIf="projeto.urlCodigo">🔗 <a [href]="projeto.urlCodigo" target="_blank">Código</a></p>
          </div>
      </div>
    </div>
  </div>
</section>
