<section class="habilidades section" id="habilidades">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Habilidades</h2>
      </div>
    </div>

    <div class="container-habilidades">
      <div class="informacoes javascript">
        <div class="logo">
          <i class="devicon devicon-javascript-plain" id="javascript"></i>
        </div>
        <h3>JavaScript</h3>

      </div>

      <div class="informacoes html">
        <div class="logo">
          <i class="devicon devicon-html5-plain-wordmark" id="html"></i>
        </div>
        <h3>HTML5</h3>

      </div>

      <div class="informacoes css">
        <div class="logo">
          <i class="devicon devicon-css3-plain-wordmark" id="css"></i>
        </div>
        <h3>CSS3</h3>

      </div>

      <div class="informacoes github">
        <div class="logo">
          <i class="devicon devicon-github-original" id="github"></i>
        </div>
        <h3>GitHub</h3>

      </div>

      <div class="informacoes git">
        <div class="logo">
          <i class="devicon devicon-git-plain" id="git"></i>
        </div>
        <h3>Git</h3>
      </div>

      <div class="informacoes react">
        <div class="logo">
          <i class="devicon-react-original" id="react"></i>
        </div>
        <h3>React</h3>
      </div>
      <div class="informacoes nodejs">
        <div class="logo">
          <i class="devicon-nodejs-plain" id="nodejs"></i>
        </div>
        <h3>Node.js</h3>
      </div>
      <div class="informacoes typescript">
        <div class="logo">
          <i class="devicon-typescript-plain" id="typescript"></i>
        </div>
        <h3>Typescript</h3>
      </div>
      <div class="informacoes jest">
        <div class="logo">
          <i class="devicon-jest-plain" id="jest"></i>
        </div>
        <h3>Jest</h3>
      </div>
      <div class="informacoes python">
        <div class="logo">
          <i class="devicon-python-plain" id="python"></i>
        </div>
        <h3>Python</h3>
      </div>
      <div class="informacoes redux">
        <div class="logo">
          <i class="devicon-redux-original" id="redux"></i>
        </div>
        <h3>Redux</h3>
      </div>




    </div>
  </div>
</section>
