<section class="habilidades section" id="habilidades">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Habilidades Backend</h2>
      </div>
    </div>

    <div class="container-habilidades">
      <div *ngFor="let hab of habilidadesBackend" class="informacoes {{ hab.id }}">
        <div class="logo">
          <i class="{{ hab.icone }}" id="{{ hab.id }}"></i>
        </div>
        <h3>{{ hab.nome }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="section-title">
        <h2>Habilidades Frontend</h2>
      </div>
    </div>

    <div class="container-habilidades">
      <div *ngFor="let hab of habilidadesFrontend" class="informacoes {{ hab.id }}">
        <div class="logo">
          <i class="{{ hab.icone }}" id="{{ hab.id }}"></i>
        </div>
        <h3>{{ hab.nome }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="section-title">
        <h2>Outras Habilidades</h2>
      </div>
    </div>

    <div class="container-habilidades">
      <div *ngFor="let hab of outrasHabilidades" class="informacoes {{ hab.id }}">
        <div class="logo">
          <i class="{{ hab.icone }}" id="{{ hab.id }}"></i>
        </div>
        <h3>{{ hab.nome }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="section-title">
        <h2>Database</h2>
      </div>
    </div>

    <div class="container-habilidades">
      <div *ngFor="let hab of db" class="informacoes {{ hab.id }}">
        <div class="logo">
          <i class="{{ hab.icone }}" id="{{ hab.id }}"></i>
        </div>
        <h3>{{ hab.nome }}</h3>
      </div>
    </div>
  </div>
</section>
